@model BoldyBuildhui.Models.Champion
@{
    Layout = null;
    Styles.Render("~/Content/StyleShit.css");
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <title>Champion</title>
</head>
<body>
    
    @RenderBody();
    @Scripts.Render("~/Scripts/jquery-3.3.1.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
</body>
</html>
