@model BoldyBuildhui.Models.ChampionMini
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Champion</title>
</head>
<body>
    <div>
        <p>Id: @Model.Key</p>
        <p>Name: @Model.Name</p>
        <p>Title: @Model.Title</p>
    </div>
</body>
</html>
