@{
    Layout = "~/Views/Shared/_Layout.cshtml"; ;
    @Styles.Render("~/Content/Site.css");
}
<div class="champ-list">        
    @foreach (var champ in ViewBag.Champions)
    {
    <a href="/Home/ChampionPartial/@champ.Id">
        <div class="champ-list-item">
            <img src="@string.Format("/Content/champion/{0}", champ.Image.Full)" width="64" height="64" />
            <div class="champ-info">
                <p class="champ-name">@champ.Name</p>
                <p class="champ-title">@champ.Title</p>
            </div>
        </div>
    </a>
    }
</div>