@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BoldyBuild</title>
</head>
<body>
    <div>
        @foreach (var champ in ViewBag.Champions)
        {
            <p><a href="/Home/Champion/@champ.Id">@champ.Name</a></p>
        }
    </div>
</body>
</html>